@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6969;
  margin: 0;
  padding: 0;
  width: 100%;
}

.item-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Open Sans-Serif";
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.bar-icon {
  display: block;
  height: 15px;
  padding: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 60vh;
}

.firstContainer {
  display: flex;
  background: linear-gradient(to right, #fbf0b2, #f2afef);
  width: 100%;
}

.first-content-container {
  width: 50%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.first-heading {
  font-family: "Red Hat Display";
  font-size: 10px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 15px;
  letter-spacing: 10px;
}

.first-description {
  font-family: "Red Hat Display";
  font-size: 8px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  text-align: left;
}

.custom-button {
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 500;
  background-color: #ff6969;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.clickButton {
  color: #ffffff;
}

.burger-picture-container {
  width: 50%;
}

.burgerPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondContainer {
  background: linear-gradient(to right, #fbf0b2, #f2afef);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin: 10px 0 0 0;
}

.second-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30vh;
  padding: 10px;
  margin: 10px;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
}

.image {
  width: 100%;
  height: calc(50% - 5px);
  object-fit: cover;
  border-radius: 5px;
}

.single-image-container {
  width: 80%;
  height: 80%;
  padding-left: 10px;
}

.single-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.second-content-container {
  display: flex;
  width: 50%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ff6969;
  padding: 10px 15px 10px 15px;
  margin: 5px 5px 5px 15px;
  width: 50%;
  border-radius: 5px;
}

.second-title {
  font-family: "Red Hat Display";
  font-size: 8px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}

.secondParagraph {
  font-family: "Red Hat Display";
  font-size: 10px;
  font-weight: 900;
  color: #000000;
  margin: 0 0 10px 0;
  letter-spacing: 4px;
}

.click {
  color: #000000;
  background-color: transparent;
  font-size: 8px;
  font-weight: 500;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin: 0;
  border: none;
}

.arrow {
  width: 8px;
  padding-left: 3px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav-button {
    font-size: 16px;
  }

  .bar-icon {
    height: 30px;
  }

  .content {
    margin: 30px 20px 30px 20px;
  }

  .first-heading {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .first-description {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .custom-button {
    font-size: 16px;
    padding: 10px 55px 10px 55px;
    margin-bottom: 30px;
  }

  .secondContainer {
    height: 60vh;
  }

  .image-content {
    height: 40vh;
    padding: 15px;
  }

  .image {
    height: calc(50% - 10px);
  }

  .single-image-container {
    padding-left: 15px;
  }

  .content-container {
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 25px;
  }

  .second-title {
    font-size: 12px;
  }

  .secondParagraph {
    font-size: 18px;
  }

  .click {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .arrow {
    width: 20px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 769px) {
  .nav-button {
    font-size: 20px;
  }

  .bar-icon {
    height: 40px;
  }

  .content {
    margin: 30px 55px 40px 55px;
  }

  .firstContainer {
    height: 100vh;
  }

  .first-heading {
    font-size: 52px;
    margin-bottom: 70px;
  }

  .first-description {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .custom-button {
    width: 40%;
    font-size: 18px;
    padding: 15px 10px 15px 10px;
    margin-bottom: 70px;
  }

  .secondContainer {
    height: 100vh;
  }

  .image-content {
    height: 80vh;
    padding: 10px;
    margin: 50px;
  }

  .image {
    height: calc(50% - 15px);
  }

  .single-image-container {
    padding-left: 35px;
  }

  .content-container {
    width: 70%;
    margin: 5px 5px 5px 50px;
    padding: 20px 0 20px 30px;
  }

  .second-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .secondParagraph {
    font-size: 54px;
    margin-bottom: 30px;
    font-weight: bolder;
    padding: 0;
    letter-spacing: 8px;
  }

  .click {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .arrow {
    width: 20px;
    padding-left: 10px;
  }
}
